@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@keyframes rotate {
	from {
	  transform: rotate(360deg);
	}
	to {
	  transform: rotate(0deg);
	}
  }
body{
	background-image: url(/assets/background.jpg);
	background-size:cover;
	color: #fff; /* change text color to white */
	font-family: 'Sen', sans-serif;
	font-size: 1.3em;
	width: 50%;
	margin: 15px auto;
	padding: 20px;
	text-align: center;
}
#playList{
	position: relative;
	background: #333; /* change playlist background to dark grey */
	border-radius: 10px;
	text-align: left;
	opacity: 0.8;
	color: #fff; /* change playlist text color to white */
}
 li{
	padding: 10px;
}
li:hover, svg:hover {
	cursor: pointer;
	color: #ff0000; /* change hover color to red */
}
li.active{
	color: #ff0000; /* change active color to red */
}
#controls{
	margin-top: 130px;
	padding: 10px;
}
.controls-wheels {
	position: absolute;
	z-index: -110;
	width: 20%;
}
.left {
	position: relative;
	top:-52.5vh;
	left: 7.8vh;
	animation: rotate 5s linear infinite;
}
.right {
	position: relative;
	top:-92.5vh;
	right: -50vh;
	animation: rotate 5s linear infinite;
}
.controls-buttons {

	width:50%;
	top:10px;
	right:0px;
	text-align:right;
	float:center;
	color: #fff;
	margin-bottom:20px;
	transform: translateY(-26vh) translateX(13vh);


}

svg{
	color: #ffffff;
	margin: 0 30px;
}

progress{
	width: 40%;
	margin: 10px;
	opacity: 0.5;
	transform: translateY(-54vh);
}

.timer{
	width:50%;
	top:10px;
	right:0px;
	text-align:right;
	float:center;
	color: #fff;
	transform: translateY(-39.5vh) translateX(3.5vh);
}
.volumen{
	width:50%;
	top:10px;
	right:0px;
	text-align:right;
	float:center;
	color: #fff;
	margin-bottom:20px;
	transform: translateY(-5vh) translateX(10vh);


}
#currentPlay{
	color: #ff0000; /* change current play color to red */
	position: relative;
	top: -59vh;
}
h3{
	color: #fff; /* change h3 color to white */
}
